*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'poppins', sans-serif!important;
}
:root{
    --primary-color: #030303;
    --primary-back: #EDEEFF;
    --text-hover: #FFB830;
}
.dark-mode{
    --primary-color: #E4E4E4;
    --primary-back: #0E0E0E;
}
img{
    width: 20px;
}
.pp{
    display: none;
}

/*************** START ******************/

.body{
    background: var(--primary-back);
    color: var(--primary-color);
    position: relative;
}
header{
    background: var(--primary-back);
   box-shadow: 1px 0 10px rgba(0, 0, 0, 0.2); 
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   z-index: 100;
}
header .header-item{
    width: 100%;
    height: 50px;
    line-height: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header .header-item .logo{
    width: 40px;
    margin-top: 7px;
    margin-left: 10px;
    border-radius: 50%;
    box-shadow: 0 5px 7px rgba(0, 0, 0, 0.5);
    border: 2px solid var(--text-hover);
    animation: anim 2s ease  -2s initial;
    transition: all 0.1s
}
@keyframes anim{
    0%{
         margin-top:0px;
    } 
    100%{
        margin-top:3px;
    }
}
.header-item .menu{
    flex: 1;
   text-align: left;
}
.header-item .menu li{
    list-style: none;
    float: left;
    font-weight: bold;
    font-size: 0.7em;
    text-decoration: none;
    color: var(--primary-color);
  /*  margin-left: 15px;*/
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    margin-left: 10px;
}
.header-item .menu .home{
    color: #ECA928;
}
li:hover{
    color: var(--text-hover);
}
.header-item .menu li a{
    text-decoration: none;
    color: var(--primary-color);
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header-item .menu a:hover{
    color: var(--text-hover);
}
.menu .contact-click .contact-me:hover{
    color: var(--text-hover);
}
.icon{
    width: 16px;
    margin-right: 1px;
}
.icon-text{
    margin-top: 1px;
}

/*contact me */ 

.contact-contant{
    width: 300px;
    height: auto;
    padding: 5px;
    border-radius: 10px;
    background: var(--primary-back);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.1);
    transition: transform 0.4s, top 0.4s;
    visibility: hidden;
}
.contact-contant-show{
    top: 110px;
    visibility: visible;
    transform: translate(-50%, -50%) scale(1);
    z-index: 50;
    
}
.contact-contant h1{
    font-size: 1.5em;
}
.contact-contant h3, h1{
    font-size: 0.8em;
    width: 100%;
    text-align: center;
    color: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
}
.contact-contant .c-b{
    width: 70px;
    height: 27px;
    border-radius: 5px;
    border: none;
    outline: none;
    cursor: pointer;
    background: var(--text-hover);
    background: #FFD532;
    color: var(--primary-color);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    font-size: 0.9em;
    font-weight: bold;
}


.header-item .dark-light img{
    width: 15px;
    margin-top: 10px;
    margin-right: 15px;
    rotate: -20deg;
}

header img{
    width: 20px;
}


/******************header-end******************/



.main{
    margin-top: 80px;
    width: 100%;
    height: auto;
    gap: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
}
.main .intro{
    text-align: left;
  /*  padding-left: 10px;*/
    width: 300px;
    height: auto;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
}
.main .intro  h5{
    position: absolute;
    top: 5px;
    left: 15px;
}
.main .intro  .intro-head{
    color: var(--primary-color);
    text-align: left!important;
    display: flex;
    align-items: center;
    justify-content: left;
    font-size: 2em;
}
.main .intro .first-letter::first-letter{
    font-size: 1.7em;
    font-weight: 500;
}
.main .intro .typedtext{
    color:var(--text-hover);
    text-shadow: 1px 0 1px rgba(0, 0, 0, 0.7);
    margin-left: 10px;
}
.main .intro p{
    font-size: 0.8em;
    font-family: Geneva;
    text-align: left;
}

.main .intro  button{
    width: 150px;
    height: 32px;
    border-radius: 5px;
    border: none;
    background: var(--text-hover);
    font-size: 0.9em;
    font-weight: 500;
    margin-top: 20px;
    color: var(--primary-color);
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
    transition: 0.05s;
}
.dawnload{
    width: 15px;
    line-height: 38px;
}
.main .intro button:hover{
    box-shadow: none;
    background: #E6AA39;
}
.main .myphoto{
    margin-top: 30px;
    width: 380px;
    height: 380px;
    background-size: cover;
    border-radius: 5px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}
.main .myphoto .myback{
    width: 350px;
    transition: 0.5s;
}
.main .myphoto .photo{
    position: absolute;
    background-size: cover;
    width: 350px;
    border-radius: 55% 45% 55% 45%;
    transition: all 1s;
    animation: anim 7s ease-in-out infinite;
    rotate: 10deg;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.5);
    object-fit: cover;
    overflow: hidden;
}
@keyframes anim{
    50%{
        transform: translateY(10px);
       border-radius: 45% 55% 45% 55%;
    }
}
.notice{
    font-size: 0.8em;
    text-align: center;
    width: 100%;
    font-family: Geneva;
    padding: 0 30px;
    
}
i{
    font-family: serif;
}


.social-media{
    margin-top: 50px;
    width: 100%;
    margin-bottom: 5px;
    display: flex;
    align-content: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    
}
.social-media .other{
    width: 100%;
    padding: 0 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}
.social-media img{
    padding: 3px;
    margin: 5px;
}
.social-media .x{
    background: white;
}
.social-media .social-app{
    width: 35px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2),
                0 -2px 5px rgba(255, 255, 255, 0.2);
}


/**************** gellary ****************/
.gellary-title{
    width: 100%;
    text-align: center;
    font-size: 2em;
    color: var(--primary-color);
}
.gellary-container{
    margin-top: 50px;
    padding: 0 15px;
}
.gellary-container .gellary{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.img-box{
    width: 50px;
    min-width: 50px;
    height: 330px;
    background-image: url("/gellary image/img-1.jpg");
    background-size: cover;
    background-position: center;
    border-radius: 50px;
    position: relative;
    transition: width 0.5s;
    box-shadow: 0 0 4px rgba(0,0,0,0.6);
    margin: 1px;
}
.gellary-container div:nth-child(2){
    background-image: url("/gellary image/img-2.jpg");
    background-size: cover;
    background-position: center;
}
.gellary-container div:nth-child(3){
    background-image: url("/gellary image/img-3.jpg");
    background-size:cover;
    background-position:center;
}
.gellary-container div:nth-child(4){
    background-image: url("/gellary image/img-4.png");
    background-size: cover;
    background-position: center;
}
.img-box .image-text{
    position: absolute;
    bottom: 0;
    left: 30px;
    color: #D7D7D7;
    opacity: 0;
    transition: bottom 0.5s, opacity 0.5s;
}
.img-box:hover{
    width: 300px;
    cursor: pointer;
}
.img-box:hover .image-text{
    opacity: 1;
    bottom: 10px;
}

/************** gellary close ***************/
/***********my exprince  st ***************/
.my-exprreinece{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.expreience-skills{
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.expreience-skills .exp-header{
    font-size: 2em!important;
}
.experience{
    width: 300px;
    overflow: hidden;
    padding: 10px;
    margin-top: 5px;
    display: block;
   
}
.experience .exp-head{
    font-size: 0.8em;
    font-weight: 500;
    color: var(--primary-color);
    display: flex;
    align-items: center;
    gap: 5px;
}
.experience .exp-qua-con{
    display: inline-block;
    
}
.experience .exp-boxs{
    width: 210px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
}
.experience  .exp-quality{
  /*****  width: /*125*//*  60%;
    height: 3px;
    background: #FFE147;
    margin: 10px;
    display: inline-block;
    margin: 1px;
    padding: 3px;
    border-radius: 20px;
    position: absolute;
    left: 0;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    *****/
}
.experience .exp-boxs .exp-quality-back{
    width: 80%;
    height: 8px;
    background: #919191;
    border-radius: 20px;
    padding: ;
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.2);
}
.experience .exp-qua-con .exp-boxs .exp-qua-text{
    display: inline-block;
    font-size: 1em;
    font-weight: 600;
    color: #2897F2;
    margin-left: 5px;
    padding: 1px 0 0 0;;
    
}
.experience .exp-qua-con .exp-boxs .exp-inon{
    width: 30px;
    padding: 5px;
}
#html{
    width: 60%!important;
    height: 8px;
    background: #FF9747;
    margin: 10px;
    display: inline-block;
    margin: 1px;
    border-radius: 20px;
    position: absolute;
    left: 0;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    
}
#css{
    width: 42%!important;
    height: 8px;
    background: #47A8FF;
    margin: 10px;
    display: inline-block;
    margin: 1px;
    border-radius: 20px;
    position: absolute;
    left: 1px;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    
}
#js{
    width: 5%!important;
    height: 8px;
    background: #FFE147;
    margin: 10px;
    display: inline-block;
    margin: 1px;
    border-radius: 20px;
    position: absolute;
    left: 6px;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
}
.experience .exp-head .js{
    width: px;
}
#react{
  /*  width: !important;*/
    height: 3px;
    background: #8AF5FF;
    margin: 10px;
    display: inline-block;
    margin: 1px;
    
    border-radius: 20px;
    position: absolute;
    left: 0;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    
}
#mysql{
  /*  width: !important;*/
    height: 3px;
    background: #EFEFEF;
    margin: 10px;
    display: inline-block;
    margin: 1px;
    
    border-radius: 20px;
    position: absolute;
    left: 0;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
}
#python{
  /*  width: !important;*/
    height: 3px;
    background: #257EAB;
    margin: 10px;
    display: inline-block;
    margin: 1px;
    padding: ;
    border-radius: 20px;
    position: absolute;
    left: 0;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    
}
.exp-py-head{
    font-size: 0.7em!important;
}

/******************* expreanence  close ************/










/*************** Main Close ****************/




.footer-contant{
    width: 100%;
    height: 25px;
    box-shadow: 0 -0.5px 1px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 10px;
    position: relative;
    margin-top: 20px;
}
.footer-contant .f-p{
    font-size: 0.2em;
}